/.idea/
/slot-repackage.iml
/.flattened-pom.xml

/slot-repackage-asm/target/
/slot-repackage-asm/.flattened-pom.xml
/slot-repackage-asm/dependency-reduced-pom.xml
/slot-repackage-asm/slot-repackage-asm.iml

/slot-repackage-disruptor/target/
/slot-repackage-disruptor/.flattened-pom.xml
/slot-repackage-disruptor/slot-repackage-disruptor.iml
/slot-repackage-disruptor/dependency-reduced-pom.xml

/slot-repackage-logger/target/
/slot-repackage-logger/.flattened-pom.xml
/slot-repackage-logger/slot-repackage-logger.iml
/slot-repackage-logger/dependency-reduced-pom.xml
